<div class="container">
    <div class="row">
        <div class="col-2">
            <h1>Give Your Workout<br> A new Style</h1>
            <p>Success isn't always about greatness. It's about consistency. Consistent<br> hard work gains success. Greatness will come.
            </p>
            <a routerLink="products" class="btn">Explore Now &#8594;</a>
        </div>
        <div class="col-2">
            <img src="../assets/images/image1.png">
        </div>
    </div>
</div>

<!-- ----features catergories------ -->

<div class="catergories">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <a routerLink="Clothing">
                    <div class="category-img">
                        <img src="../assets/images/category-1.jpg">
                    </div>
                    <div class="category-text">
                        <h2>Clothing</h2>
                    </div>
                </a>
            </div>
            <div class="col-3">
                <a routerLink="Shoes">
                    <div class="category-img">
                        <img src="../assets/images/category-2.jpg">
                    </div>
                    <div class="category-text">
                        <h2>Shoes</h2>
                    </div>
                </a>
            </div>
            <div class="col-3">
                <a routerLink="Accessories">
                    <div class="category-img">
                        <img src="../assets/images/category-3.jpg">
                    </div>
                    <div class="category-text">
                        <h2>Accessories</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="featuredProducts">
    <div class="small-container">
        <h2 class="title">Featured Products</h2>
        <hr>

        <div class="row">

            <div class="col-4" *ngFor="let p of featuredProducts">
                <a [routerLink]="['/', p.category, 'product', p._id]">
                    <img src="{{p.product_Img}}">
                </a>
                <h4>{{p.product_Name}}</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>${{p.product_Price}}.00</p>
            </div>

        </div>
    </div>
</div>

<!-- ------Offers------ -->
<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="../assets/images/exclusive.png" class="offer-img">
            </div>
            <div class="col-2">
                <p>Exclusive Available on Surpass</p>
                <h1>Smart Band 4</h1>
                <small>
                        The Mi Smart Band 4 fetures a 39.9% larger
                        (than Mi Band 3) AMOLRED color full-touch display with
                        adjustable brightness, so everything is clear as can be.
                    </small>
                <br>
                <a href="" class="btn">Buy Now &#8594;</a>
            </div>
        </div>
    </div>
</div>
<!-- ------End of Offers------ -->

<div class="testimonial">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.
                </p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>

                </div>
                <img src="../assets/images/user-1.png">
                <h3>Sean Parker</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.
                </p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>

                </div>
                <img src="../assets/images/user-2.png">
                <h3>Sean Parker</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.
                </p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>

                </div>
                <img src="../assets/images/user-3.png">
                <h3>Sean Parker</h3>
            </div>
        </div>
    </div>
</div>
<!-- -------End of Testimonial-------- -->