<div class="aboutus">
    <h2>About Us</h2>
    <br>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dignissim, risus nec vestibulum imperdiet, eros felis dictum lacus, ut commodo sem lectus nec dolor. Curabitur eu mauris posuere, vehicula orci vitae, finibus neque. Sed bibendum lacinia
        lacus, id euismod ligula molestie sit amet. Sed iaculis condimentum diam sit amet consectetur. Suspendisse quis libero quis metus laoreet imperdiet at id sem. Sed ac imperdiet magna. Suspendisse id tortor vitae sem pellentesque sagittis vitae
        sed lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque ex quam, rutrum nec arcu eget, fringilla mattis turpis. Proin varius arcu nec leo consequat, vitae cursus lectus scelerisque.
        Sed bibendum quam quis fringilla facilisis. Aliquam euismod, dui et mattis pretium, dui nulla euismod urna, sit amet hendrerit urna arcu vel augue. Pellentesque et purus tincidunt, egestas nibh sit amet, venenatis risus. Curabitur sed elit et
        ligula faucibus ultricies.</p>
</div>