    .container {
        padding-top: 60px;
        max-width: 1300px;
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
        margin-bottom: 900px
    }
    
    .personal-details-block {
        border: 1px solid #d7d7d7;
        width: 50%;
    }
    
    .personal-details-title {
        border-bottom: 1px solid #d7d7d7;
        padding: auto;
        background-color: #f5f5f5;
        padding-top: 8px;
        padding-left: 10px;
        padding-bottom: 8px;
        font-weight: bold;
    }
    
    .my-details-content {
        padding-left: 10px;
    }
    
    label {
        font-weight: bold;
        font-size: 13px;
    }
    
    .btn {
        display: inline-block;
        background: #ff523b;
        color: #fff;
        padding: 8px 30px;
        margin: 30px 0;
        border-radius: 30px;
        transition: background 0.5s;
        text-decoration: none;
        width: auto;
        /* padding: 10px; */
    }
    
    .btn:hover {
        background: #563434;
        /* 043867 */
    }
    
    @media screen and (max-width:767px) {
        .personal-details-block {
            width: 100%;
        }
        .container {
            margin-bottom: 100px
        }
    }
    
    @media only screen and (device-width: 768px) {
        .container {
            margin-bottom: 500px;
        }
    }
    
    @media only screen and (device-width: 1024px) {
        .container {
            margin-bottom: 700px;
        }
    }