.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-bottom: 100px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
}

.col-4 p {
    font-size: 14px;
    color: #555
}

select {
    border: 1px solid #ff523b;
    padding: 5px;
}

select:focus {
    outline: none;
}

h4 {
    color: #555;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.col-4 p {
    font-size: 14px;
}

.rating .fa {
    color: #ff523b
}

.col-4:hover {
    transform: translateY(-5px);
}

@media screen and (max-width:767px) {
    .small-container {
        margin-bottom: -500px;
        text-align: center;
        padding: 0px;
    }
    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
        padding: 0px;
    }
}

@media only screen and (device-width: 768px) {
    .col-4 {
        min-width: 0;
    }
    .small-container {
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 50px;
    }
}

@media only screen and (device-width: 1024px) {
    .small-container {
        padding-bottom: 700px;
        padding-left: 25px;
        padding-right: 25px;
    }
}